*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background: black;
}
p{
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    font-family: 'Open Sans', sans-serif;
}
button{
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.15s;
}
button:hover{
    opacity: .6;
}

/* End of Commons  */


.navbar{
    margin-left: 192px;
    margin-right: 192px;
    height: 86px;

}
.logo{

    float: left;
    vertical-align: top;
    height:86px;
    width:150px;

}
.container1{
    float: right;
    vertical-align: middle;
    padding-top: 25px;

}
.lang-selector{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
 
}
.signin-btn{

    font-size: 14px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20px;
    align-items: center;
}
.heading{
    font-size: 48px;
    font-weight: 900;

}
.second-line{
    font-size: 24px;
    font-weight: 400;
    margin-top: 16px;
}
.third-line{
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
}
.container2{
    text-align: center;
    margin-top: 180px;
    width: 870.625px;
}
.emain-bar{
    background-color:rgba(35,35,35,0.5);
    border-color:rgba(200, 200, 200, 0.3);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 360px;
    height: 57px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;

}
.get-started-btn{
    vertical-align: top;
    padding-bottom :17px;
    padding-left :24px;
    padding-right: 24px;
    padding-top :15px;
    width: 201.222px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 8px;
   
}
.get-C-icon{
    background-color: rgb(229, 9, 20);
    font-weight: 100;
}
.main-input{
    text-align: center;
    padding-top: 18px;
}

.top-header{
    height: 80vh;
    background-image: url(images/background.jpg);
    
}
.container{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


/* Feature Scetion */
.feature1{
    height: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 80px;
    padding-right: 80px;
    border-color: rgb(35,35,35);
    border-width: 8px;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}
.feature-discription{
    vertical-align: middle;
    width: 51%;
    text-align: right;
    padding-top: 120px;
}
.feature-img2,
.feature-img{
    background: transparent;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.feature-img > video{
    position: absolute;
    left: 12%;
    top: 20%;
    z-index: -1;
}

.feature-img2 > video{
    position: absolute;
    left: 12%;
    top: 10%;
    z-index: -1; 
}
.image2 + video {
    padding-left: 29px;
  }

.feature-text{
    text-align: left;
    margin-bottom: 16px;
    margin-left: 115px;
    line-height: 32px;

}
.feature-head{
    font-weight: bold;
    line-height: 61px;
}
.feature-img-left{
    background-color: black;
    padding-left:  120px;
    width: 35%;
}
/* End of feature section */
.faq-section{
    background-color: black;
    border-color: rgb(35,35,35);
    border-width: 8px;
    border-style: solid;
    border-top: 1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 72px;
    padding-bottom: 72px;
}
.faq-tabs{
    text-align: center;
    padding-top: 8px;
    /* padding-bottom: 20px; */

}
.faq-button{
    height: 100;
    max-height: 30px;
    background-color: rgb(44,45,44);
    color: white;
    border-radius: 0%;
    text-align:left ;
    vertical-align: middle;
    /* margin-top: 12px; */
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size:  26px;
    font-weight: 500;
    display: block;
    transition: background-color 0.15s;
}
.plus-icon{
    vertical-align: middle;
    display: inline-block;
    font-size: 50px;
    font-weight: 200;
    padding-right: 24px;
    float: right;
    background-color: transparent;
}

.faq-button:hover{
    background:rgb(78,78,78);
}

.faq-details{
    width: 1297.67px;
    background-color: rgb(44,45,44);
    color: white;
    margin-top: 1px;
    margin-bottom: 0;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: inline-block;
}
.faq-details-paragraph2,
.faq-details-paragraph1{
    text-align: left;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    /* padding-top: ; */

}
.faq-details-paragraph2{
    margin-top: 35px;
}
.faq-tabs-group{
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 180px;
    margin-right: 180px;
}




/* Footer Section */
.footer{
    padding-left: 193px;
    padding-right: 193px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    border-color: rgb(35,35,35);
    border-width: 8px;
    border-style: solid;
    border-top: 1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.footer-text{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.footer-contact{
    font-size: 18px;
}

.footer-copyright,
.footer-lang-selector,
.footer-links,
.footer-contact{
    padding-top: 8px;
    padding-bottom: 8px;
}
.footer-links{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    margin-bottom: 20px;
}
.foot-link{
    padding-bottom: 0%;
    padding-top: 0%;
    height: 35px;
}
